@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  /* box-sizing: inherit; */
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

ul,
ol {
  list-style: none;
}

input,
select,
textarea {
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}

table,
table th,
table td {
  cursor: default;
}

table {
  table-layout: fixed; /* or auto */
  border-collapse: collapse;
}

/* input- password eye icon */
/* Hide the eye icon for password input fields */
/* input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
} */

/* arrows for number input */
/* Hide the number input arrows for all browsers */
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  appearance: none; /* Standard */
}

/* Additional styling for Firefox */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* Additional styling for Edge */
@supports (-ms-ime-align: auto) {
  input[type='number'] {
    -webkit-appearance: textfield;
  }
}
